*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties
underlineText/local.properties
*.xml
underlineText/project.properties
*.pro
